
body{
    background:  -webkit-linear-gradient(rgb(115, 206, 192), rgb(17, 122, 138));
}




    body {
        background: #00b4ff;
        color: #333;
        font: 100% Lato, Arial, Sans Serif;
        height: 10vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .header{
        font-family: fantasy;
        font-size: 80px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .about{
        width: 100%;
padding: 78px 0px;
    
    
    }

    .main{
        font-family: fantasy;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .about-text{
        width: 550px;
    }
    .main{
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    